body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  background-color: #a5b34fd8;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  color: #333;
}

input {
  padding: 10px;
  width: 200px;
  font-size: 16px;
  margin-right: 10px;
  color: #173bdb;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#displayArea {
  margin-top: 20px;
  font-weight: bold;
  color:#333333;
}