body {
  font-family: Arial, sans-serif;
  background: #cfcebd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: grid;
  gap: 40px;
  width: 300px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s;
  margin-bottom: 30px;
}

input:focus {
  border-color: #0077ff;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #3f3ae4;
  color: white;
}

button[type="submit"]:hover {
  background-color: #0007d4;
}

button[type="reset"] {
  background-color: #b3b0a6;
}

#message {
  font-weight: bold;
}

#strength {
  font-size: 0.9em;
  margin-bottom: 30px;
}