body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  background-color: #a5b34fd8;
}

.container {
  background: white;
  padding: 60px 40px;
  border-radius: 8px;
  text-align: left;
  width: 600px;
}

h1 {
  text-align: center;
  color: #333;
}

p {
  font-size: 18px;
  margin:30px 0;
}

B {
  color: #444;
}

.intro {
  margin-top: 20px;
  color: #0077cc;
}